.cart-table {
  width: 100%;
  border-collapse: collapse;
}
.heading-cart {
  color: #504e4e;
  font-size: 32px;
  text-align: center;
  padding: 25px 0;
}
.head-list-info {
  color: #333;
  font-size: 20px;
}
.head-item-info {
  background-color: var(--primary-color);
  color: var(--color-text-product);
  font-weight: 500;
  font-size: 19px;
}
.head-item-info span {
  display: block;
  width: 100%;
  padding: 20px 15px;
}

/* body information product */
.body-item-img {
  width: 100px;
}
.body-item-img .product-img {
  max-width: 100%;
}
.body-list-info {
  text-align: center;
  font-size: 16px;
}
.body-list-info td {
  padding: 25px;
}
.body-item-name-product {
  width: 350px;
}
.body-item-quantity input[type="number"] {
  width: 150px;
  font-size: 16px;
  padding: 5px 8px;
  border-radius: 50px;
}
.body-item-action button {
  width: 50px;
  height: 20px;
  font-size: 18px;
  color: #333;
  border: none;
  cursor: pointer;
  background-color: #fff;
  transition: all 0.2s linear;
}
.body-item-action button:hover {
  transform: scale(1.2);
}
.body-item-action button img {
  width: 100%;
}
.body-price-sum td {
  text-align: center;
  font-size: 28px;
}
/* Button cart */
.option-cart {
  color: #333;
  text-align: center;
  font-size: 18px;
  margin: 20px;
}
.btn-cart {
  background-color: var(--notification);
  border: none;
  margin: 0 10px;
  padding: 15px 25px;
  font-size: 17px;
  cursor: pointer;
  border-radius: 50px;
  transition: all 0.2s linear;
}
.btn-cart:hover {
  background-color: var(--primary-color);
  transform: scale(0.9);
}
.btn-cart:hover > * {
  color: var(--color-text-product);
}
.btn-cart > * {
  color: #fff;
  font-weight: 600;
}
