.dh-table {
  width: 100%;
  margin: 20px 0;
  border-collapse: collapse;
}

.background-dh {
  margin-top: 17px;
  border-top: 1px solid #e2e2e2;
  line-height: 40px;
}

/* heading */
.heading-dh {
  color: #504e4e;
  font-size: 32px;
  text-align: center;
  margin: 25px 0;
}

/* head đơn đặt hàng */
.head-list-info {
  color: rgb(255, 255, 255);
  font-size: 20px;
}

/* body đơn đặt hàng */
.body-list-info {
  color: var(--color-text-product);
}

.body-list-info .btn-cthd {
  width: 100%;
  height: 30px;
  background-color: #fff;
  color: #333;
  border: none;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.1s linear;
}

.btn-cthd img {
  width: 40px;
}

.body-list-info .btn-cthd:hover {
  transform: scale(1.1);
}

/* table xem chi tiết đơn đặt hàng */
.btn-cart-errol {
  width: 160px;
  background-color: #afadac;
  color: #e2e1e1;
  border: none;
  padding: 15px 25px;
  margin: 0 10px;
  font-size: 17px;
  border-radius: 50px;
  cursor: initial;
}

.body-thong-bao {
  font-weight: 600;
  color: var(--color-text-product);
  font-size: 20px;
  margin: 30px 0 25px;
}
