.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
}

.heading-logo-link {
  transition: all 0.2s ease-in-out;
}

.heading-logo-link img {
  width: 53px !important;
}

.heading-logo-link:hover {
  transform: scale(1.2);
}

.nav-list {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  border-radius: 10px;
  padding: 0 10px;
  margin: 0 20px;
}

.nav-item:not(:first-child):hover {
  box-shadow: inset 100px 0 0 0 #aacef3;
  cursor: pointer;
}

.nav-item img {
  width: 16px;
}

.nav-item-link {
  font-size: 16px;
  padding: 10px 0 10px 5px;
  color: #000;
}
