.wrapper-product {
  padding-top: 61px;
}
.heading-product {
  color: #1d1d1f;
  font-size: 46px;
  text-align: center;
  line-height: 1.09;
  font-weight: 600;
  letter-spacing: -0.01em;
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
}
