.info {
  display: flex;
  justify-content: space-between;
}
.Ten {
  font-size: 32px;
  color: #212529;
  font-weight: bold;
  border-bottom: 1px solid #dee2e6;
  margin-bottom: 16px;
  line-height: 3;
}
.Hinh {
  width: 585px;
  height: 390px;
  display: flex;
  justify-content: center;
}
.Hinh img {
  max-width: 100%;
  max-height: 100%;
}
.NoiDung {
  flex: 1;
  margin-left: 30px;
}
.Gia {
  display: flex;
  margin-bottom: 12px;
}
.GiaMoi {
  font-size: 32px;
  color: #cb1c22;
  line-height: 40px;
  margin-right: 10px;
  font-weight: 500;
}
.GiaCu {
  font-size: 20px;
  color: #99a2aa;
  font-weight: 400;
  line-height: 36px;
  position: relative;
  top: 6px;
  text-decoration: line-through;
}
.Noidung_Mota {
  padding: 15px 20px;
  border-radius: 4px;
  border: solid 1px #e9ecef;
  background-color: #f8f9fa;
  margin-bottom: 16px;
}
.Mota {
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
}
.Mota li {
  color: #495057;
  margin-bottom: 10px;
  line-height: 1.5;
}

.buy-product {
  display: flex;
  margin: 50px;
  justify-content: center;
}
.buy-product button#addtocard {
  width: 700px;
  height: 60px;
  background-color: #fb5b08;
  border-radius: 15px;
  color: white;
  cursor: pointer;
}
.buy-product button strong {
  font-size: 20px;
  margin-bottom: 10px;
}
