.container-showroom {
  display: flex;
  align-items: center;
  justify-content: center;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Ten {
  font-size: 38px;
  color: #212529;
  font-weight: bold;
  padding-bottom: 15px;
  border-bottom: 1px solid #dee2e6;
  margin: 16px 0;
  line-height: 1.5;
}
.Hinh {
  width: 500px;
  height: 250px;
  display: flex;
  justify-content: center;
}
.NoiDung {
  width: 500px;
  margin-left: 50px;
}
.Gia {
  font-size: 32px;
  margin-bottom: 12px;
  color: var(--color-text-product);
  opacity: 0.9;
}

.Noidung_Mota {
  font-size: 15px;
  padding: 15px 20px;
  border-radius: 15px;
  border: solid 1px #e9ecef;
  background-color: #f8f9fa;
  margin-bottom: 16px;
}
.Mota {
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
}
.Mota li {
  color: #495057;
  margin-bottom: 10px;
  line-height: 1.5;
  letter-spacing: 0.2px;
}

.buy-product {
  display: flex;
  margin: 50px;
  justify-content: center;
}
.buy-product button#addtocard {
  width: 700px;
  height: 60px;
  background-color: var(--primary-color);
  border-radius: 15px;
  color: #000;
  cursor: pointer;
}
.buy-product button strong {
  font-size: 20px;
  margin-bottom: 10px;
}
