.container-showroom {
  display: flex;
  align-items: center;
  justify-content: center;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Ten {
  font-size: 38px;
  color: var(--color-text-product);
  font-weight: bold;
  margin: 16px 0;
  line-height: 1.5;
}
.Hinh {
  width: 500px;
  height: 250px;
  display: flex;
  justify-content: center;
}
.NoiDung {
  width: 500px;
  margin-left: 50px;
}
.Gia {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 12px;
  color: var(--notification);
  opacity: 0.9;
}

.Noidung_Mota {
  font-size: 15px;
  padding: 15px 20px;
  border-radius: 15px;
  border: solid 1px #e9ecef;
  background-color: #f8f9fa;
  margin-bottom: 16px;
}
.Mota {
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
}
.Mota li {
  color: var(--color-text-product);
  margin-bottom: 10px;
  line-height: 1.5;
  letter-spacing: 0.2px;
}

.buy-product {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.buy-product button#addtocard {
  width: 50%;
  background-color: var(--notification);
  padding: 20px;
  border-radius: 15px;
  color: var(--color-text-product);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.buy-product #addtocard:hover {
  background-color: var(--primary-color);
  transform: scale(1.1);
}
#addtocard div {
  padding-bottom: 7px;
}
.buy-product button strong {
  font-size: 20px;
}
#addtocard p {
  font-size: 15px;
}
