* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
header img {
  max-width: 300px;
}
body {
  background-color: rgb(255, 255, 255);
  position: relative;
  padding-bottom: 235px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1200px;
  margin: auto;
}
header {
  background-color: rgba(143, 114, 87, 0.397);
  background-image: url(../Image/BannerCam.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 550px;
  text-align: center;
  padding: 50px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.event {
  padding: 10px;
  background-color: rgb(0, 0, 0);
  height: 50px;
}
.event ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.event ul li,
a {
  color: white;
  font-size: 18px;
}
.event ul li:nth-child(1) input {
  height: 30px;
  width: 200px;
  border-radius: 15px;
  border: none;
  padding-left: 16px;
  font-size: 16px;
}
.event ul li:nth-child(1) button {
  margin-left: 10px;
  font-size: 15px;
  position: absolute;
  color: rgb(255, 255, 255);
  background-color: black;
  font-size: 25px;
  border: none;
  cursor: pointer;
}
.event ul li:hover {
  color: rgb(255, 0, 0);
}
.event ul li:hover .child_event {
  display: block;
}
.child_event {
  position: absolute;
  background-color: rgb(0, 0, 0);
  border: solid 1px;
  border-radius: 10px;
  padding: 12px;
  z-index: 10;
  display: none;
}
.child_event ul {
  display: flex;
  flex-direction: column;
}
.child_event ul li {
  margin: 10px 30px;
}
.child_event ul li a:hover {
  color: red;
}
.child_event ul li input {
  font-size: 20px;
  width: 200px;
  height: 30px;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  border: 1px solid black;
  background-color: black;
  color: white;
}
.child_event ul li input:hover {
  background-color: red;
}
.event ul li:nth-child(2) button {
  height: 30px;
  padding: 0 10px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  background-color: transparent;
  color: rgb(255, 255, 255);
  font-size: 18px;
}
.event ul li:nth-child(2) button:hover {
  background-color: red;
  color: black;
  cursor: pointer;
}
.contact,
.login {
  position: fixed;
  width: 100vw;
  height: 100vh;
  color: black;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: none;
  z-index: 10;
}

.contact-content {
  width: 560px;
  height: 900px;
  background-color: #fff;
  border-radius: 15px;
}
.login-content {
  width: 560px;
  height: 500px;
  background-color: #fff;
  border-radius: 15px;
}
.login-content a {
  display: block;
  color: black;
  margin-top: 20px;
}
.ThongBao {
  font-weight: bold;
  color: rgb(240, 89, 89);
  font-size: 20px;
}

.contact-content h2,
.login-content h2 {
  font-size: 30px;
  padding: 18px 0 15px;
  border-bottom: 1px solid black;
  position: relative;
}
.contact-content h2 span,
.login-content h2 span {
  display: flex;
  position: absolute;
  padding: 10px;
  height: 30px;
  padding: 0 6px;
  right: 12px;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
}
.contact-content h2 span button,
.login-content h2 span button {
  padding: 5px;
  background-color: rgb(255, 0, 0);
  border-radius: 5px;
  cursor: pointer;
}
.contact-content .name,
.gt,
.email,
.sdt,
.cmt,
.sub,
.login-content .user,
.pass {
  padding: 20px 60px;
  margin: 10px 50px;
  text-align: left;
}
.contact-content .cmt {
  border-bottom: none;
}
.contact-content .name label,
.gt label,
.email label,
.sdt label,
.cmt label,
.sub label,
.login-content .user label,
.pass label {
  font-size: 18px;
}
.contact-content p {
  margin: 15px;
}
.contact-content input,
.login-content input {
  font-size: 20px;
  width: 300px;
  height: 30px;
  border-radius: 5px;
}
.contact-content .gt {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.contact-content .gt label {
  display: inline-block;
  padding-bottom: 6px;
}
.contact-content .cmt .comment {
  width: 100%;
  height: 200px;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #000;
  margin-top: 6px;
}
textarea {
  resize: none;
}
.contact-content .cmt .comment:focus {
  outline: none;
}
.contact-content .sub input#sub,
.login-content .sub input#sub {
  width: 100%;
  height: 60px;
  background-color: rgb(255, 130, 72);
  border-radius: 15px;
  cursor: pointer;
}
.contact-content .email input#email,
.sdt input#sdt,
.user input#user,
.pass input#pass,
.name input#HoTen {
  width: 100%;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #000;
  margin-top: 10px;
}
.contact-content .email input#email:focus,
.sdt input#sdt:focus,
.user input#user:focus,
.pass input#pass:focus,
.name input#HoTen:focus {
  outline: none;
}
.contact-content .sub,
.login-content .sub {
  border-bottom: none;
}

.ad {
  position: fixed;
  width: 100vw;
  height: 100vh;
  color: black;
  background-color: rgba(0, 0, 0, 0.9);
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 0;
}
.ad img {
  display: block;
  max-width: 500px;
  width: auto;
  height: auto;
  border: 5px solid white;
}
.ad h2 {
  background-color: #fff;
}

.ad h2 span button {
  padding: 5px;
  background-color: rgb(255, 0, 0);
  border-radius: 5px;
}
.Panner {
  text-align: center;
  background-color: rgb(251, 91, 8);
}
.menubar {
  background-color: rgb(255, 174, 0);
}

.menubar ul {
  list-style: none;
  display: flex;
  text-align: center;
  justify-content: space-between;
}
.menubar li {
  display: list-item;
  list-style: none;
}
.menubar li a {
  color: black;
  font-size: 20px;
  padding: 20px 40px;
}
.menubar li a i {
  font-size: 16px;
}
.menubar img {
  position: relative;
  top: 2px;
  width: 20px;
}
.menubar ul li {
  position: relative;
  padding: 20px 0px;
}
.menubar ul li:hover {
  background-color: rgb(255, 211, 92);
}
.child {
  position: absolute;
  background-color: rgb(255, 255, 255);
  height: auto;
  border: solid 1px;
  border-radius: 10px;
  width: 300px;
  left: 0;
  top: 100%;
  padding: 12px;
  display: none;
  z-index: 10;
}
.child ul {
  display: flex;
  flex-direction: column;
}
.menubar ul li:hover .child {
  display: block;
}
.Slider {
  padding: 50px 0;
}
.Slider-content {
  display: flex;
  width: 100%;
  height: 300px;
  position: relative;
  transition: all 0.3s;
}
.Slider-content-container {
  position: relative;
  overflow: hidden;
}
.Slider-content-container:hover i {
  opacity: 1;
}
.Slider-content:hover i {
  opacity: 1;
}
.Slider-content-bot {
  display: flex;
  justify-content: space-between;
  background-color: white;
  list-style: none;
  border: 1px solid black;
}
.Slider-content-bot li {
  width: 20%;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  height: 100%;
  position: relative;
  line-height: 54px;
  position: relative;
}
.Slider-content-bot li.active {
  border-top: 8px solid red;
}
.dh {
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.dh i {
  font-size: 32px;
  color: #333;
  background-color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  border-radius: 5px;
  opacity: 0;
  transition: all 0.3s;
  cursor: pointer;
}
.Slider-content img {
  position: absolute;
}
.Slider-content a:nth-child(2) img {
  transform: translateX(100%);
}
.Slider-content a:nth-child(3) img {
  transform: translateX(200%);
}
.Slider-content a:nth-child(4) img {
  transform: translateX(300%);
}
.Slider-content a:nth-child(5) img {
  transform: translateX(400%);
}
.Sp {
  height: 270px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  border: 2px solid rgb(0, 0, 0);
}
.baner1 {
  height: auto;
  max-width: 100%;
  margin-bottom: 10px;
}
